#contextMenu{
    width: fit-content;
    position: absolute;
    background-color: black;
    color: white;
    border: 3px solid rgb(49, 49, 49);
    padding: 4px;
    list-style: none;
    font-size: 14px;
}